{% extends "base.html" %}

{% block title %}Commute Tracker{% endblock %}

{% block content %}
    <br><br>
    <form method = "POST">
        {{ form.hidden_tag() }}

        {{ form.commute_method.label }}
        {{ form.commute_method() }}

        {{ form.distance.label }}
        {{ form.distance() }}

        {{ form.submit() }}
    </form>

    <ul>
        {% for commute in commute_logs %}
            <li>
                {{ commute.commute_method }}
                {{ commute.distance }}km
                {{ commute.emissions }}g CO2
                <a href="{{ url_for('delete_commute_log', commute_id=commute.id) }}">Delete Log</a>
                <a href="{{ url_for('update_commute_log', commute_id=commute.id) }}">Update Log</a>
            </li>
        {% else %}
            <li>No commutes saved yet!</li>
        {% endfor %}
    </ul>
{% endblock %}